
<div class="row">
  <div class="col-auto">
    <h2>Add a comment</h2>
  
    <div class="body">
      <form class="form comment-form">
        {{!-- <input type="hidden" value="{{user_id}}" name="user_id" class="form-control" id="user_id"> --}}
        <div class="form-group mb-3">
          <label for="comment-title" class="form-label fw-bold">Select a post to comment on</label>
          <select class="form-select" id="create-comment-link-id">
            {{#each posts}}
              <option value="{{id}}">{{title}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="comment-content" class="form-label fw-bold">Comment</label>
          <textarea class="form-control" id="create-comment-content" rows="5"></textarea>
        </div>
        <div class="form-group mb-3">
          <button class="btn btn-primary" type="submit" id="create-comment-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>